
.caption-slide{
    background-color: #aa75259a;
    color: #20190f;
    width: 200%;
    margin: auto;
    height: 80%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  body{
    font-family: 'Montserrat', Helvetica, sans-serif;
  }

.srch{
  padding-left: 4%;
  padding-top: 5%;
}
.pad{
   
  margin: auto;
  width: 35%;
}

.caption-slide h3{
  font-weight: bolder;
}
.card-title{
    font-weight: bolder;
}
.back{
  background-color: #e7e3db63;
  width: 100%;
}

  ngb-rating {
    color: #925f13b7;
    font-size: 60px;
}