<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

    <footer class="footer-dark ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Books
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" [routerLink]="['/adultsPage']">Adults</a>
                              <a class="dropdown-item" [routerLink]="['/teenagersPage']">Teenagers</a>
                              <a class="dropdown-item" [routerLink]="['/kidsPage']">Kids</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" [routerLink]="['/books']">All</a>
                            </div>
                        </li>
                        <li><a  [routerLink]="['/login']">Login</a></li>
                        <li><a  [routerLink]="['/register']">Register</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><p><span class="fas fa-solid fa-envelope"> </span><a href="mailto:universul@tau.ro">   raluApp@gmail.com</a></p></li>
                        <li><p><span class="fas fa-solid fa-phone"> </span><a href="tel:+40784198522">    0784198522</a></p></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>RaluApp</h3>
                    <p>This website is made speacial for you in order to make your life easier. Now, you don't have to go to the library, your library comes to you. You can check our
                        stock online and you can easily see the news.
                    </p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">RaluApp © 2022</p>
        </div>
    </footer>

