<section class="pt-5 pb-5" style="background-color: #f4f5f7;">
    
    <div class="container">
        <div class="row">
            <div class="caption-slide"> 
                <h3 class="mb-3">Adults Books</h3>
                <p style="text-align: center;">Here it is our adults section. If you want to find something for an adult, here you should search.</p>
            </div>

            <div class="col-12" class="back">
                <div class="form-group" class="srch" style="width:40%">
                    <p>Search for your book from here: </p>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search..."
                      [(ngModel)]="filterTerm"
                    />
                  </div>
                <div  class="carousel slide" data-ride="carousel">
                    <br>
                    <div class="carousel-inner" class='pad'>
                        <!--first slide-->
                        <div class="carousel-item active" >
                            <div class="row">
                              <div  class="list-group-item"
                              *ngFor="let book of books | filter: filterTerm; let i = index"
                              [class.active]="i == currentIndex"
                              (click)="setActiveShelf(book, i)"
                              class="book"
                             >
                             <div *ngIf="book.category == 'Adults'">
                                  <div class="card" style="width: 15rem;" class="pad">
                                    <img class="card-img-top" src="{{ book.poza }}">
                                    <div class="card-body">
                                        <h5 class="card-title">Title: {{ book.title }}</h5>
                                        <h6 class="card-text">Author: {{ book.author }}</h6>
                                        <p class="card-text">Category: {{ book.category }}</p>
                                        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        <button  *ngIf="authservice.isUserEmailLoggedIn" (click)='getData(book)' class="btn btn-dark">Borrow</button>
                                    </div>
                                  </div>
                                </div>
                                </div>

                            </div>
                        </div>
                        
                      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
