.pad{
   
    margin: auto;
    width: 35%;
}
.caption-slide{
    background-color: #aa75259a;
    color: #20190f;
    width: 100%;
    text-align: center;
  }
  .caption-slide h3{
    font-weight: bolder;
  }
  .card-title{
      font-weight: bolder;
  }
  .back{
    background-color: #e7e3db63;
    width: 100%;
  }
  .srch{
    padding-left: 4%;
    padding-top: 5%;
  }
  ngb-rating {
    color: #925f13b7;
    font-size: 60px;
}
