<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>
<body>
    <app-carousel></app-carousel>

<app-news-section></app-news-section>


<div class="sections">
    <section id="welcome">
        <hr>
        <h2 style="font-weight: bolder;">Welcome!</h2>
        <p class="para">Here you can find the news about our online library. Now you are just a click away 
            from being up to date with the latest books published, the top of the most read books, 
            the newest authors. Do not hesitate to periodically follow our updates to see which 
            books have come into the possession of our library.
        </p>
        <hr>
        <app-card-show></app-card-show>
        <hr>
    </section>
        
    <app-card-games></app-card-games>
    
    <section id="returns"> 
        <hr>
        <app-card-book></app-card-book>
    </section>

    <section id="authors">
        <hr>
        <app-card-authors></app-card-authors>
        <hr>
    </section>
</div>
</body>

<app-footer></app-footer>