<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
</head>
    
  <section class="pt-5 pb-5" style="background-color: #f4f5f7;">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3" style="font-weight: bolder;">The most read authors of the month</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-dark mb-3 mr-1" href="#carouselExampleIndicators3" role="Read about" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-dark mb-3 " href="#carouselExampleIndicators3" role="Read about" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                        <!--first slide-->
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-3 " >
                                    <div class="card" >
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_1a1.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Coolen Hoover</h5>
                                            <p class="card-text">Author of young adult fiction and romance novels who published her first novel, Slammed, in January 2012</p>
                                            
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="col-md-3 ">
                                    <div class="card" >
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a2.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Nora Iuga</h5>
                                            <p class="card-text">Romanian poet, writer. Her first collection of poems was published in 1968 and was called Vina nu e a mea</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="card ">
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a8.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Harlan Coben</h5>
                                            <p class="card-text">American writer of mystery novels and thrillers. The plots of his novels often involve the unresolved events.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="card ">
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a4.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">James Peterson</h5>
                                            <p class="card-text">American writer of the culinary arts. His first book, Sauces, won an award for best single subject</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--second slide-->
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-3 ">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a5.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Anna Jacobs</h5>
                                            <p class="card-text">English novelist who wrote more than 80 novels, the majority of which are historical.</p>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="col-md-3 ">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a6.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Nora Roberts</h5>
                                            <p class="card-text">American author of more than 225 romance novels. She writes as J. D. Robb for the in Death series.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_1a9.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Clive Cussler</h5>
                                            <p class="card-text">American adventure novelist and underwater explorer. His thriller novels, featuring Dirk Pitt.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="card" >
                                        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_a3.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Lee Child</h5>
                                            <p class="card-text">British author who writes thriller novels, and is best known for his Jack Reacher novel series.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>