body{
	background-color: #f4f5f7;
	padding-bottom: 10px;
}
.register{
	padding-top: 10px;
    text-align: center;
}
.titlu{
	text-decoration: underline;
    text-align: center;
	
}
.para{
    text-align: center;
}
.formular-register{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 450px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.caption-slide{
    background-color: #aa75259a;
    color: #20190f;
    width: 50%;
    margin: auto;
    height: 45%;
  }
.formular-register h2{
	background: #282d32;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.formular-register input[type="email"],
.formular-register input[type="password"]
.formular-register select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.formular-register .toLogin-btn{
	-moz-box-shadow: inset 0px 1px 0px 0px #aa7525;
	-webkit-box-shadow: inset 0px 1px 0px 0px #aa7525;
	box-shadow: inset 0px 1px 0px 0px #494949;
	background-color: #aa7525;
	border: 1px solid #aa7525;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 5px;
}
.toLogin-btn:hover{
    background:linear-gradient(to bottom, #aa7525 5%, #8f5c0f 100%);
	background-color:#c08020;
}