<div class="card text-center">
    <div class="card-header text-left" style="background-color: #aa7525d3;">
        <h2 style="font-weight: bolder;">The most read book of the week</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title" style="font-weight: 800;">On the Wings of the Wind</h5>
      <div class="card-text">
            <p>Set in the dramatic backdrop of the American Civil War and Reconstruction, On the Wings of the Wind, Margaret Mitchell's 
                magnificent historical novel is an unforgettable tale of love and loss, of a nation divided by mortal passions and 
                whose destiny will be changed. forever. But above all, it is the story of the beautiful and unscrupulous 
                Scarlett O'Hara and the gallant adventurer Rhett Butler, two of the most famous characters in the history of 
                Anglo-American literature from Romeo and Juliet, the heroes of Shakespeare.
            <br>
                On the Wings of the Wind is an exciting, lively novel that will linger in the minds of readers long after they have 
                turned the last page.
            </p>
            <p><q>Without a doubt, one of the most remarkable debut novels written by an American author. And one of the best novels ever written.</q>-The New York Times</p>  
            <p><q>The Best Novel the South Has Given ... Unbeaten in the entire history of American literature.</q>- The Washington Post</p>   
        </div>
        <img class="img-fluid" alt="100%x280" src="../../../assets/images/rsz_11aripi.jpg"> <br><br>
</div>